<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <img src="https://e1.pxfuel.com/desktop-wallpaper/581/154/desktop-wallpaper-backgrounds-for-login-page-login-page.jpg" alt="">
    <div class="task-bar">
        <nav clas="nav">
            <i class="fa-solid fa-bars"></i>
            <button></button>
        </nav>
    </div>
    <div class="login-form">
        <form action = "http:/localhost" method = "POST">
            <div class="login">
                Gmail: <input type = "text" name = "first-name" class="in">
                <br>
                Password: <input type = "text" name = "last-name" class="in">
                <input type = "submit" value = "Submit" class="inSubmit">
            </div>
        </form>
    </div>
</body>
</html>