<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="task-bar">
        <nav clas="nav">
            <i class="fa-solid fa-bars"></i>
            <button></button>
        </nav>
    </div>
    <div class="container">
        <div class="screen">
            <div class="screen-content">
                <div class="screen__background">
                    <span class="screen__background__shape screen__background__shape4"></span>
                    <span class="screen__background__shape screen__background__shape3"></span>		
                    <span class="screen__background__shape screen__background__shape2"></span>
                    <span class="screen__background__shape screen__background__shape1"></span>
                </div>
                <div class="login-form">
                    <form action = "http:/localhost" method = "POST">
                        <div class="login">
                            <div class="login__field">
                                <i class="login__icon fa-solid fa-user"></i>
                                <input type = "text" name = "first-name" class="in" placeholder="Email">
                            </div>
                            <div class="login__field" >
                                <i class="login__icon fa-solid fa-lock"></i>
                                <input type = "text" name = "last-name" class="in" placeholder="Password">
                            </div>
                            <input type = "submit" value = "Log In" class="inSubmit">
                            <div class="login__other">
                                <i class="fa-solid fa-envelope"></i>
                                <i class="fa-brands fa-twitter"></i>
                                <i class="fa-brands fa-github"></i>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>